@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #C7C7CC; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #AEAEB2; 
}
